@import "../../node_modules/bootstrap/scss/bootstrap.scss"
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"


.navbaaar 
    display: flex
    flex-direction: row
    margin-left: 19%
    a
        &:hover 
            background: red
.imageback
    position: absolute
    z-index: -1
    filter: brightness(30%)
    -webkit-filter: brightness(30%)
.buton
    button
        border-radius: 24px
        margin: 10px
.carsel 
    height: 600px
    .parag
        text-align: center
        margin-left: 270px
        margin-top: 200px
        width: 45vw
    p 
        color: white
        font-size: 45px
        font-family: 'Courgette', cursive

.sectionimg 
    background-image: url("../../public/images/main_bg.jpg")
    margin-top: 75px
    width: 100%
    height: 1000px
.divimg 
    background-color: white
    height: 930px
    position: relative
    top: 50px
    .hautgauche
        position: absolute
        top: 0
        left: 0
    .hautdroite
        position: absolute
        top: 0
        right: 0
    .basgauche 
        position: absolute
        bottom: 0
        left: 0
    .basdroite 
        position: absolute
        bottom: 0
        right: 0
    .lorem 
        display: block
        padding: 5px 250px
    h1 
        font-family: 'Courgette', cursive


.menu 
    img 
        border-radius: 50%
    .cafe 
        display: flex
        justify-content: space-between
        .buton 
            background-color: lightgrey
            margin-top: 10px
            height: 30px
            padding: 3px 10px
    
.menuicon 
    li 
        list-style: none

        i 
            color: grey 
            &:hover
                color: red
    .iconhover 
        border-right: 1px solid black
        span 
            font-family: 'Courgette', cursive
        &:hover 
            border-right: 5px solid red
.deco 
    margin-left: 31%
    margin-top: 2%
.chef 
    background-image: url(../../public/images/team_background.jpg)
    height: 600px
    h1 
        font-family: 'Courgette', cursive

.sectionform
    background-image: url("../../public/images/main_bg.jpg")
    width: 100%
    height: 1500px
.divform
    background-color: white
    height: 1350px
    position: relative
    top: 50px
    .greyhautgauche
        position: absolute
        top: 0
        left: 0
    .greyhautdroite
        position: absolute
        top: 0
        right: 0
    .greybasgauche 
        position: absolute
        bottom: 0
        left: 0
    .greybasdroite 
        position: absolute
        bottom: 0
        right: 0
    h1 
        font-family: 'Courgette', cursive
.formimg 
    background-image: url(../../public/images/book_table_bg.jpg)
    border-radius: 16px
    width: 65%
    margin: 50px 0px 50px 200px
    button 
        border-radius: 24px
        margin: 10px
    input 
        width: 300px
        border-radius: 16px
        margin: 0px 0px 10px 20px
    select 
        width: 300px
        border-radius: 16px
        margin: 0px 0px 10px 20px
.blog 
    img 
        border: 3px solid lightgrey
        border-radius: 16px
        margin-top: 50px
    span 
        background-color: #b1004a
        border-radius: 10px
        padding: 10px 10px
        position: relative
        left: 90px
        top: -15px
.knowmore button 
    border-radius: 16px
.testimimg 
    background-image: url(../../public/images/testimonials_background.jpg)
    height: 400px
    h1 
        font-family: 'Courgette', cursive
.femme 
    img 
        border-radius: 50%
        border: 3px solid white
        margin: 15px
.textfemme 
    border: 2px solid grey
    border-radius: 10px
    padding: 5px 5px
.marginfemme 
    margin-left: 73px
.contactimg 
    background-image: url("../../public/images/main_bg.jpg")
    width: 100%
    height: 500px
    h1 
        font-family: 'Courgette', cursive
.contactf 
    display: inline-block
    background-color: #c50052
    border-radius: 20px
    position: relative
    left: 33%
.footerimg
    background-image: url("../../public/images/footer_background.jpg") 
    width: 100%
    height: 300px
.rose
    background-color: #c00076
    height: 50px
.tomatoimg img
    padding: 5px 5px
.tomatobutton button 
    border: 1px solid white
    border-radius: 15px
    margin: 3px
.footertext 
    padding-top: 30px
    padding-left: 150px
.decoration 
    background-image: url(../../public/images/bottom_decoration_img.png)
    position: relative
    top: 75px
    width: 100%
    height: 10px
.decorationfooter 
    background-image: url(../../public/images/footer_bottom_decoration_img.png)
    width: 100%
    height: 10px
.carousel-indicators li 
    width: 10px
    height: 10px
    border-radius: 100%
    border: 3px solid grey


$break-small: 576px
$break-xsmall: 450px


@media (min-width: $break-xsmall) and (max-width: $break-small) 
    

    #carouselExampleIndicators
        display: none
    .lorem p 
        width: 50vw
        position: relative
        left: -120px
    .menuresp 
        display: flex 
        flex-direction: column
        position: relative
        left: 40%
        .menu
            img 
                width: 70%
    .border-bottom
        width: 90px
    .sectionimg 
        height: 3200px
    .divimg 
        height: 3000px
    .chef
        height: 1000px
        .chefresp 
            display: flex
            flex-direction: column
    .sectionform 
        height: 1800px
    .divform 
        height: 1600px
    .formimg 
        width: 80%
        position: relative
        left: -150px
        input 
            width: 150px
        select
            width: 150px
    .blog
        display: flex 
        flex-direction: column 
        span 
            position: absolute
            top: 280px
            left: 0px
            height: 40px
            width: 110%
            
    .testimimg 
        height: 1000px
    .marginfemme 
        flex-direction: column
        .textfemme 
            width: 50%
        img 
            width: 40%
    .contactimg
        height: 600px
    .contactf 
        position: relative
        left: 30%
        p 
            width: 35vw

        
    .footerimg 
        height: 1300px
    .footertext 
        display: flex
        flex-direction: column
        .iconresp
            p  
                width: 250%
        .tomatoimg 
            img 
                width: 50%
        .tomatobutton 
            button 
                width: 250%
