@import "../../node_modules/bootstrap/scss/bootstrap.scss"
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"


.navbaaar 
    display: flex
    flex-direction: row
    margin-left: 19%
    a
        &:hover 
            background: red
.imageback
    position: absolute
    z-index: -1
    filter: brightness(30%)
    -webkit-filter: brightness(30%)
.buton
    button
        border-radius: 24px
        margin: 10px
.carsel 
    height: 600px
    .parag
        text-align: center
        margin-left: 270px
        margin-top: 200px
        width: 45vw
    p 
        color: white
        font-size: 45px

.sectionimg 
    background-image: url("../../public/images/main_bg.jpg")
    margin-top: 75px
    width: 100%
    height: 1000px
.divimg 
    background-color: white
    height: 930px
    position: relative
    top: 50px
    .hautgauche
        position: absolute
        top: 0
        left: 0
    .hautdroite
        position: absolute
        top: 0
        right: 0
    .basgauche 
        position: absolute
        bottom: 0
        left: 0
    .basdroite 
        position: absolute
        bottom: 0
        right: 0
    .lorem 
        display: block
        padding: 5px 250px

.menu 
    img 
        border-radius: 50%
    .cafe 
        display: flex
        justify-content: space-between
        .buton 
            background-color: lightgrey
            margin-top: 10px
            height: 30px
            padding: 3px 10px
    
.menuicon 
    li 
        list-style: none
        i 
            color: grey 
            &:hover
                color: red
    .iconhover 
        border-right: 1px solid black
        &:hover 
            border-right: 5px solid red
.deco 
    margin-left: 31%
    margin-top: 2%
.chef 
    background-image: url(../../public/images/team_background.jpg)
    height: 600px

.sectionform
    background-image: url("../../public/images/main_bg.jpg")
    width: 100%
    height: 1500px
.divform
    background-color: white
    height: 1350px
    position: relative
    top: 50px
    .greyhautgauche
        position: absolute
        top: 0
        left: 0
    .greyhautdroite
        position: absolute
        top: 0
        right: 0
    .greybasgauche 
        position: absolute
        bottom: 0
        left: 0
    .greybasdroite 
        position: absolute
        bottom: 0
        right: 0
.formimg 
    background-image: url(../../public/images/book_table_bg.jpg)
    border-radius: 16px
    width: 65%
    margin: 50px 0px 50px 200px
    button 
        border-radius: 24px
        margin: 10px
    input 
        width: 300px
        border-radius: 16px
        margin: 0px 0px 10px 20px
    select 
        width: 300px
        border-radius: 16px
        margin: 0px 0px 10px 20px
.blog 
    img 
        border: 3px solid lightgrey
        border-radius: 16px
        margin-top: 50px
    span 
        background-color: #b1004a
        border-radius: 10px
        padding: 10px 10px
        position: relative
        left: 90px
        top: -15px
.knowmore button 
    border-radius: 16px
.testimimg 
    background-image: url(../../public/images/testimonials_background.jpg)
    height: 400px
.femme 
    img 
        border-radius: 50%
        border: 3px solid white
        margin: 15px
.textfemme 
    border: 2px solid grey
    border-radius: 10px
    padding: 5px 5px
.marginfemme 
    margin-left: 73px
.contactimg 
    background-image: url("../../public/images/main_bg.jpg")
    width: 100%
    height: 500px
.contactf 
    display: inline-block
    background-color: #c50052
    border-radius: 20px
    position: relative
    left: 33%
.footerimg
    background-image: url("../../public/images/footer_background.jpg") 
    width: 100%
    height: 300px
.rose
    background-color: #c00076
    height: 50px
.tomatoimg img
    padding: 5px 5px
.tomatobutton button 
    border: 1px solid white
    border-radius: 15px
    margin: 3px
.footertext 
    padding-top: 30px
    padding-left: 150px
    